@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Fredoka One', cursive;
    background-color: #041562;
}

#select-mokepon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    color: white;
    font-size: 35px;
    text-align: center;
}
.subtitle {
    color: white;
    font-size: 22px;
}

.tarjetas, .ataques-mokepon {
    display: flex;
    gap: 10px;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: #11468f;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    cursor: pointer;
}
.tarjeta-de-mokepon img {
    width: 80px;
    
}

input {
    display: none;
}

input:checked + label  {
    background-color: #5D8BF4;
}


input:checked + label  {
    background-color: #5D8BF4;
}

#boton-mokepon {
    background-color: #11698E;
    border: 2px solid white;
    font-weight: bold;
    height: 5vh;
    color: white;
    border-radius: 30px;
    background: transparent;
    margin-top: 30px;
    cursor: pointer;
}

#select-attack {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boton_ataque {
    color: white;
    background-color: #11698E;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    width: 80px;
    font-size: 15px;
    cursor: pointer;
}
#mensajes {
    width: 280px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background: #EEEEEE;
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

#boton-reinicar {
    border: transparent;
    color: #11698E;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    text-align: center;
    color: white;
}
#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    border: 2px solid white;
    font-weight: bold;
    width: 80px;
    height: 40px;
    color: white;
    border-radius: 30px;
    background: transparent;
    margin: 10px 0;
    cursor: pointer;
}
@media (max-width: 560px) {
    .tarjetas, .ataques-mokepon {
        flex-direction: column;
    }
}
@media (max-width: 300px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    } 